@charset "utf-8";
/* ------------------------- Main Page ------------------------- */
.owl-prev {
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 10;
	left: 0;
	top: 50%;
	margin-top: -25px;
	background: image('main/nav_prev.png') no-repeat left top;
	text-indent: -9999em;
	@include mq('md') {
		display: none;
	}
}
.owl-next {
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 10;
	right: 0;
	top: 50%;
	margin-top: -25px;
	background: image('main/nav_next.png') no-repeat left top;
	text-indent: -9999em;
	@include mq('md') {
		display: none;
	}
}

section {
	max-width: 1140px;
	margin: 0 auto;
	overflow: hidden;
	.inner {
		padding: 0 10px;
		@include mq('md') {
			padding: 0;
		}
	}
}

/* 메인 슬라이드 */
.first-wrap {
	margin-bottom: 40px;
	@include mq('md') {
		height: 719px;
	}
	.main-visual {
		width: 100%;
		position: relative;
		overflow: hidden;
		@include mq('sm') {
			float: left;
			width: 570px;
		}
		@include mq('md') {
			float: left;
			width: 50%;
		}
	}
	.report {
		@include mq('sm') {
			height: 719px;
		}
		@include mq('sm') {
			float: left;
			width: calc(100% - 570px);
			margin-right: 0;
		}
		@include mq('md') {
			float: left;
			width: 18%;
			margin-right: 2%;
			background: #ccc;
		}
	}
	.news-board {
		clear: left;
		padding: 0 10px;
		padding-top: 20px;
		@include mq('sm') {
			float: none;
			width: 100%;
		}
		@include mq('md') {
			clear: none;
			float: left;
			width: 30%;
			padding: 0;
		}
	}

	.main-visual {
		.item {
			position: relative;
			.txt-box {
				position: absolute;
				line-height: 1.2;
				left: 20px;
				top: 20px;
				transition: .5s;
				@include mq('xs') {
					transition: .5s;
					left: 70px;
					top: 70px;
				}
				.txt1 {
					font-size: 36px;
					@include mq('xs') {
						font-size: 50px;
					}
					font-family: 'Noto-Regular', sans-serif;
					color: #315fbf;
				}
				.txt2 {
					font-size: 36px;
					@include mq('xs') {
						font-size: 50px;
					}
					font-family: 'Noto-Regular', sans-serif;
					color: #222;
				}
				.txt3 {
					margin-top: 20px;
					font-size: 16px;
					font-family: 'Noto-Regular', sans-serif;
					color: #666;
				}
			}
		}
	}
	.report {
		ul { height: 100%; }
		li {
			color: #fff;
			text-align: center;
			display: table;
			float: left;
			width: 50%;
			min-height: 100px;
			font-size: 15px;
			@include mq('xs') {
				font-size: 17px;
			}
			@include mq('sm') {
				height: 25%;
				width: 100%;
			}
			a {
				display: table-cell;
				vertical-align: middle;
				width: 100%;
				line-height: 1.2;
				&:before {
					content: '';
					display: block;
					width: 55px;
					height: 55px;
					margin: 0 auto;
					background: image('common/icon_main.png') no-repeat 0 0;
				}
				span {
					display: inline-block;
					width: 100%;
					
				}
			}
			&:nth-child(1) {
				p { display: table-cell; 	vertical-align: middle;}
				border-bottom: 1px solid #2b53b7;
				span {
					display: block;
					font-size: 24px;
					@include mq('xs') {
						font-size: 32px;
					}
				}
				
				background: #315fbf;
			}
			&:nth-child(2) {
				border-bottom: 1px solid #1098cf;
				background: #12a2d4;
				a:before {
					background-position: -39px -19px;
				}
			}
			&:nth-child(3) {
				background: #12a2d4;
				border-bottom: 1px solid #1098cf;
				a:before {
					background-position: -128px -19px;
				}
			}
			&:nth-child(4) {
				background: #96c22e;
				border-bottom: 1px solid #89bb28;
				a:before {
					background-position: -222px -19px;
				}
			}
		}
	}
	.news-board {
		h2 {
			font-size: 18px;
			line-height: 36px;
			border-bottom: 1px solid $fc-stress;
			margin-bottom: 20px;
		}
		& > div {
			position: relative;
			margin-top: 60px;
			.more {
				position: absolute;
				right: 0;
				top: 6px;
				&:before {
					background: image('common/icon_main.png') no-repeat -502px -36px;
					width: 24px;
					height: 24px;
					display: inline-block;
					content: '';
				}
			}
		}
		.clean-news {
			margin-top: 30px;
			.notice-list {
				width: 100%;
				overflow: hidden;
				li {
					padding: 5px 0;
					&:not(:first-child) {
						a {
							position: relative;
							@include text-ellipsis;
							width: 100%;
							padding-right: 110px;
							span {
								position: absolute;
								right: 0;
								width: 110px;
								text-align: right;
							}
						}
					}
					&.thumb {
						@include mq('xs') {
							padding-left: 160px;
							background: image('temp/notice_1.jpg') no-repeat left top;
						}
						a {
							position: relative;
							width: 100%;
							padding-right: 0;
							strong {
								color: #222;
								font-size: 18px;
								@include text-ellipsis;
								width: 100%;
							}
							.multi-ellipsis {
								height: 45px;
							}
							p {
								margin: 8px 0;
							}
						}
					}
				}
			}
		}
		.center-news {
			li {
				border-bottom: 1px solid #e6e6e6;
				padding: 6px 0;
				a {
					@include text-ellipsis;
					width: 100%;
					padding-right: 82px;
					position: relative;
					span {
						position: absolute;
						right: 0;
						width: 110px;
						text-align: right;
					}
				}
			}
		}
	}
}
.main-visual {
	.owl-carousel .owl-item img {
		margin: 0;
		max-width: 100%;
		height: auto;
		@include mq('xs') {
			width: 570px;
			max-width: 570px;
			height: 719px;
			margin: 0 auto;
		}
	}
	.customNav {
		position: absolute;
		height: 50px;
		width: 100%;
		left: 0;
		top: 180px;
		transition: .5s;
		@include mq('xs') {
			top: 269px;
		}
		.owl-prev {
			display: block;
			position: absolute;
			width: 50px;
			height: 50px;
			z-index: 10;
			top: 0;
			margin-top: 0;
			background: image('common/icon_main.png') no-repeat -315px -27px;
			text-indent: -9999em;
			left: 20px;
			transition: .5s;
			cursor: pointer;
			@include mq('xs') {
				left: 70px;
			}
		}
		.owl-next {
			display: block;
			position: absolute;
			width: 50px;
			height: 50px;
			z-index: 10;
			bottom: 0;
			margin: 0;
			top: 0;
			background: image('common/icon_main.png') no-repeat -414px -27px;
			text-indent: -9999em;
			left: 119px;
			transition: .5s;
			cursor: pointer;
			@include mq('xs') {
				left: 169px;
			}
		}
		.item img {
			margin: 0 auto;
		}
	}
	.playBtn {
		position: absolute;
		width: 52px;
		height: 50px;
		z-index: 1;
		top: 180px;
		left: 70px;
		transition: .5s;
		@include mq('xs') {
			top: 269px;
			left: 120px;
		}
		&.play:before {
			display: inline-block;
			content: ' ';
			width: 50px;
			height: 50px;
			background: image('common/icon_main.png') no-repeat -365px -27px;
		}
		&:before {
			display: inline-block;
			content: ' ';
			width: 50px;
			height: 50px;
			background: image('common/icon_main.png') no-repeat -365px -87px;
		}
	}
}

.pop-zone {
	padding: 0 55px;
	@include mq('md') {
		padding: 0;
	}
	.owl-dots {
		display: none;
		@include mq('md') {
			display: block;
			position: absolute;
			top: 10px;
			right: 0;
		}
	}
}
.popup-zone {
	margin-top: 50px;
	h2 {
		margin-bottom: 11px;
	}
	.owl-carousel .owl-item img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		-webkit-transform-style: preserve-3d;
	}
}
.board {
	padding: 0 10px;
	margin-bottom: 40px;
	@include mq('md') {
		padding: 0;
	}
	ul {
		width: 100%;
		overflow: hidden;
		border-top: 1px solid $bor1;
		border-left: 1px solid $bor1;
		@include mq('md') {
			border: 0;
			border-right: 1px solid $bor1;
		}
		& > li {
			float: left;
			display: table;
			height: 50px;
			width: 50%;
			padding: 10px 0;
			min-height: 65px;
			border-right: 1px solid $bor1;
			border-bottom: 1px solid $bor1;
			@include mq('sm') {
				width: 33.333%;
			}
			@include mq('md') {
				border: 0;
				border-left: 1px solid $bor1;
				width: 16.666%;
			}
			a {
				display: table-cell;
				vertical-align: middle;
				width: 100%;
				padding: 0 0 0 5px;
				color: $bg-darkBlue;
				position: relative;
				letter-spacing: -1px;
				&:after {
					content: '';
					display: inline-block;
					position: absolute;
					top: 50%;
					margin-top: -10px;
					width: 22px;
					height: 22px;
					background: image('common/icon_main.png') no-repeat -575px -43px;
					right: 5px;
					@include mq('xs') {
						right: 15px;
					}
				}
				span {
					display: block;
				}
				
			}
		}
	}
}


